.btn-danger {
    color: #d50b0b;
    background-color: #e1c7c6;
    border-color: #d43f3a;
}
.btn-default {
    color: #333;
    background-color: #d9d9d9;
    border-color: #747474;
}

    .btn-default:hover {
        color: white;
        background-color: #979696;
    }


.btn-success {
    color: #6d94d1;
    background-color: #cfdbf9;
    border-color: #6d94d1;
    width: 100%;
}

.btn-success:hover {
      background-color: #2c73e3;
}

#pregunta {
    background-color: #D8C8F7;
    color: #373737;
    width: 100%;
    font-size:20px;
}
#respuesta {
    background-color: #F7D8C8;
    color: #373737;
    width: 100%;
    font-size: 20px;
}
textarea.form-control {
    height: auto;
    width:70%;
}
.preguntaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#preguntaButton {
    margin-left: 10px;
    background-color: #E7F7C8;
}
.reinicioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}