<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gestionar <b>Proveedores</b></h2>
					</div>
					<div class="col-sm-6">
						<button  class="btn btn-success"(click)="limpiarCamposAgregar()" data-bs-toggle="modal" data-bs-target="#addSupplierModal">  <span><img src="/assets/icoonoAgregar.png" alt=""/>  Agregar Nuevo Proveedor</span></button>
					</div>
				</div>
			</div>
			<table  class="table table-striped table-hover ">
				<thead>
					<tr>
						<th class="d-none">Id</th>
						<th>Nombre</th>
						<th>Ciudad</th>
                        <th>Telefono</th>
					</tr>
				</thead>
				<tbody *ngIf="proveedores">
					<tr *ngFor="let supplier of proveedores">
						<td class="d-none">{{supplier.IdProveedor}}</td>
						<td>{{supplier.NombreProveedor}}</td>
						<td>{{supplier.CiudadProveedor}}</td>
                        <td>{{supplier.TelefonoProveedor}}</td>
						<td>
							<a href="" class="edit" (click)="traeProveedor(supplier.IdProveedor)" data-bs-toggle="modal" data-bs-target="#editSupplierModal"><img src="/assets//iconoEdit.png" alt=""/></a>
							<a href="" class="delete" (click)="traeProveedor(supplier.IdProveedor)"data-bs-toggle="modal" data-bs-target="#deleteSupplierModal"><img src="/assets/iconoDelete.png" alt=""/></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addSupplierModal" class="modal fade"data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup]="frmAgregar" (submit)="addSupplier()" name="frmAgregar"class="fontModal">
				<div class="modal-header">						
					<h4 class="modal-title">Agregar Proveedor</h4>
					<button id="btnClose"type="button"  data-bs-dismiss="modal" aria-hidden="true"><img src="/assets/iconoClose.png"></button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" formControlName="NombreProveedor" class="form-control" required>
						<span *ngIf="frmAgregar.get('NombreProveedor')?.invalid && frmAgregar.get('NombreProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmAgregar.get('NombreProveedor')?.errors?.['required']">El nombre no puede quedar vacío</div>
							<div class="alert alert-danger" *ngIf="frmAgregar.get('NombreProveedor')?.errors?.['maxlength']">Debe tener como máximo 30 caracteres</div>
						</span>
					</div>
					<div class="form-group">
						<label>Ciudad</label>
						<input type="text" formControlName="CiudadProveedor" class="form-control" required>
						<span *ngIf="frmAgregar.get('CiudadProveedor')?.invalid && frmAgregar.get('CiudadProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmAgregar.get('CiudadProveedor')?.errors?.['required']">La ciudad no puede quedar vacía</div>
							<div class="alert alert-danger" *ngIf="frmAgregar.get('CiudadProveedor')?.errors?.['maxlength']">Debe tener como máximo 15 caracteres</div>
						</span>
					</div>		
					<div class="form-group">
						<label>Telefono</label>
						<input type="text" formControlName="TelefonoProveedor" class="form-control" required>
						<span *ngIf="frmAgregar.get('TelefonoProveedor')?.invalid && frmAgregar.get('TelefonoProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmAgregar.get('TelefonoProveedor')?.errors?.['required']">El teléfono no puede quedar vacío</div>
							<div class="alert alert-danger" *ngIf="frmAgregar.get('TelefonoProveedor')?.errors?.['maxlength']">Debe tener como máximo 24 caracteres</div>
						</span>
					</div>		
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" [disabled]="!frmAgregar.valid" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editSupplierModal" class="modal fade" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup]="frmEditar" (submit)="editSupplier()" name="frmEditar" class="fontModal">
				<div class="modal-header">						
					<h4 class="modal-title">Editar Proveedor</h4>
					<button type="button" id="btnClose" class="close" data-bs-dismiss="modal" aria-hidden="true"><img src="/assets/iconoClose.png"></button>
				</div>
				<div class="modal-body">
					<div class="form-group d-none">
						<label >Id</label>
						<input type="text" formControlName="IdProveedor" class="form-control" value={{proveedor.IdProveedor}} required>
					</div>						
					<div class="form-group">
						<label >Nombre</label>
						<input type="text" formControlName="NombreProveedor" class="form-control" value={{proveedor.NombreProveedor}} required>
						<span *ngIf="frmEditar.get('NombreProveedor')?.invalid && frmEditar.get('NombreProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmEditar.get('NombreProveedor')?.errors?.['required']">El nombre no puede quedar vacío</div>
							<div class="alert alert-danger" *ngIf="frmEditar.get('NombreProveedor')?.errors?.['maxlength']">Debe tener como máximo 30 caracteres</div>
						</span>
					</div>
					<div class="form-group">
						<label >Ciudad</label>
						<input type="text" formControlName="CiudadProveedor" class="form-control" value={{proveedor.CiudadProveedor}} required>
						<span *ngIf="frmEditar.get('CiudadProveedor')?.invalid && frmEditar.get('CiudadProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmEditar.get('CiudadProveedor')?.errors?.['required']">La ciudad no puede quedar vacía</div>
							<div class="alert alert-danger" *ngIf="frmEditar.get('CiudadProveedor')?.errors?.['maxlength']">Debe tener como máximo 15 caracteres</div>
						</span>
					</div>
					<div class="form-group">
						<label >Telefono</label>
						<input type="text" formControlName="TelefonoProveedor" class="form-control" value={{proveedor.TelefonoProveedor}} required>
						<span *ngIf="frmEditar.get('TelefonoProveedor')?.invalid && frmEditar.get('TelefonoProveedor')?.touched">
							<div class="alert alert-danger" *ngIf="frmEditar.get('TelefonoProveedor')?.errors?.['required']">El nombre no puede quedar vacío</div>
							<div class="alert alert-danger" *ngIf="frmEditar.get('TelefonoProveedor')?.errors?.['maxlength']">Debe tener como máximo 24 caracteres</div>
						</span>
					</div>		
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success"  value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteSupplierModal" class="modal fade" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="fontModal">
				<div class="modal-header">						
					<h4 class="modal-title">Eliminar Proveedor</h4>
					<button type="button" id="btnClose" class="close" data-bs-dismiss="modal" aria-hidden="true"><img src="/assets/iconoClose.png"></button>
				</div>
				<div class="modal-body">					
					<p>Seguro que quiere eliminar el Proveedor {{proveedor.NombreProveedor}}?</p>
					<p class="text-black-50"><small>*No puede eliminar Proveedores que posean Productos asignados</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
					<input type="submit"  class="btn btn-success" (click)="deleteSupplier(proveedor.IdProveedor)" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>



