<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gestionar <b>Proveedores</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><span><img src="/assets/icoonoAgregar.png" alt=""/>  Agregar Nuevo Proveedor</span></a>	
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="d-none">Id</th>
						<th>Nombre</th>
						<th>Ciudad</th>
                        <th>Telefono</th>
					</tr>
				</thead>
				<tbody *ngIf="proveedores">
					<tr *ngFor="let supplier of proveedores">
						<td class="d-none">{{supplier.IdProveedor}}</td>
						<td>{{supplier.NombreProveedor}}</td>
						<td>{{supplier.CiudadProveedor}}</td>
                        <td>{{supplier.TelefonoProveedor}}</td>
						<td>
							<a href="#editEmployeeModal" class="edit" data-toggle="modal"><img src="/assets//iconoEdit.png" alt=""/></a>
							<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><img src="/assets/iconoDelete.png" alt=""/></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<ul class="pagination">
					<li class="page-item disabled"><a href="#"><<</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">>></a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Agregar Proveedor</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Ciudad</label>
						<input type="text" class="form-control" required>
					</div>
                    <div class="form-group">
						<label>Telefono</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Id</label>
						<input type="text" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Editar Categoria</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Ciudad</label>
						<input type="email" class="form-control" required>
					</div>
                    <div class="form-group">
						<label>Telefono</label>
						<input type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Id</label>
						<input type="text" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Eliminar Proveedor</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Seguro que quiere eliminar esta Proveedor?</p>
					<p class="text-warning"><small>No puede eliminar Proveedores que posean Productos asignados.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

