@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NORTHWIND</h1>
    <p class="lead">NORTHWIND Northwind Traders es una organización ficticia que gestiona pedidos, productos, clientes, proveedores y muchos otros aspectos de una pequeña empresa.</p>
    <p><a href="https://learn.microsoft.com/es-es/power-apps/maker/canvas-apps/northwind-install" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>