@model MVC.LabNetPractica3.Models.ChatGptViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Style.css">
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />
    <div>

        @using (Html.BeginForm("Index", "ChatGpt", FormMethod.Post))
        {
            <div class="preguntaContainer">
                @Html.TextAreaFor(m => m.Pregunta, new { @class = "form-control" }) <input class="btn btn-default" id="preguntaButton" type="submit" value="?" width="20" />
            </div>
            <br />
            <br />
            <br />
            <div class="reinicioContainer">
                <h1>CHAT</h1> @Html.ActionLink("REINICIAR", "Limpiar", "", new { @class = "btn btn-default " })
            </div>
        }
    </div>
    <br />
    @if (Model != null && Model.Chat != null)
    {

        foreach (var item in Model.Chat)
        {
            <p id="pregunta">@item.Key</p>
            <p id="respuesta">@item.Value</p>
            <br />
        }
    }
    <br />
    <br />
</body>
</html>
