@model MVC.LabNetPractica3.Models.CategoriaViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <br><br><br>
            <div>
                    @using (Html.BeginForm("Insert", "Categorias", FormMethod.Post))
                    {
                        <form>
                            <div>
                                @Html.HiddenFor(c => c.IdCategoria, new { @class = "form-control", @value = "Model.IdCategoria"})
                            </div>
                            <div class="form-group">
                                <label for="inputNombreCategoria">Categoria</label>
                                @Html.EditorFor(c => c.NombreCategoria, new { @class = "form-control", @value = "Model.NombreCategoria" })
                                @Html.ValidationMessageFor(c => c.NombreCategoria, "", new { @class = "text-danger" }) 
                            </div>
                            <div class="form-group">
                                <label for="inputDescripcionCategoria">Descripcion</label>
                                @Html.EditorFor(c => c.DescripcionCategoria, new { @class = "form-control", @value = "Model.DescripcionCategoria" })
                            </div>
                            <input type="submit" class="btn btn-primary" value="Aceptar"/>
                        </form>
                    }             
            </div>
</body>
</html>
